################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
#  1. 查看哪些文件已被Git跟踪
#  git ls-files
#  2. 如果文件已被跟踪，移除Git的跟踪（但保留本地文件）
#  git rm --cached -r .    如果失败添加 
#  3.  添加追踪
#  git add .
#  
################################################################################

# 针对于 visual studio 编译器中可忽略的文件
/.vs
*.dll
*.exe
*.obj
*.bin
*.user
*.suo
*.cache
*.vs
*.log
*.tmp
*.swp
*.sdf
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.config
*.lref
